<div>

 <div>

<h3>Create An Account</h3>
<form>
    <div>
        <label for="email">Email</label>
        <input required type="text"><br>
        <label for="password">Password</label>
        <input type="password"><br>
        <label for="name">Name:</label>
        <input type="text"><br>
        <select name="role">
            <option value="candidate">Candidate</option>

            <option value="employer">Employer</option>

        </select>

    </div>

    <button>Submit</button>
<span>Already have an account?

<a routerLink="/login">signUp</a></span>

</form>
 </div>
 </div>
